.close-button {
    top: 40px;
    right: 110px;
}

#main .photo-grid .photo img {
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    cursor: pointer;
}

#main .photo-view .photo {
    top: 30px;
    left: 100px;
    width: 640px;
    height: 640px;
    padding-left: 60px;
    padding-right: 60px;
}

#main .photo-view .sidebar {
    top: 30px;
    left: 860px;
    right: 100px;
    height: 95%;
    padding-right: 20px;
}

#header .header,
#main {
    margin-left: 200px;
    margin-right: 200px;
    width: 960px;
}

.comments-container {
    height: 480px;
}
