:root {
  --button-hover-shadow: 0 0 var(--button-hover-blur) var(--button-shadow-color-1), 0 0 var(--button-hover-blur) var(--button-shadow-color-2);
  --button-normal-shadow: 0 0 var(--button-normal-blur) var(--button-shadow-color-1), 0 0 var(--button-normal-blur) var(--button-shadow-color-2);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(to bottom, var(--bg-gradient-start-color) 0%, var(--bg-gradient-stop-color) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  background-color: var(--button-gradient-start-color);
  background-image: linear-gradient(var(--button-gradient-start-color), var(--button-gradient-stop-color));
  border-radius: var(--button-radius);
  border: none;
  box-shadow: var(--button-normal-shadow);
  cursor: pointer;
  font-size: var(--button-font-size);
  height: var(--button-size);
  transition: all var(--transition-time);
  width: var(--button-size);
  will-change: transform;
}

button:focus, button:hover {
  box-shadow: var(--button-hover-shadow);
  outline: 0;
}

button:active {
  transform: scale(var(--button-hover-scale));
}
