@font-face {
  font-family: "Platform";
  src: url("../fonts/platform-medium-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: white;
  font-family: Platform, Helvetica;
  font-size: 6vw;
  margin: 0;
}

#app {
  background-color: #24242d;
  display: flex;
  min-height: 100%;
}

.flash,
.flash-question,
.flash-results > div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flash-question {
  width: 70vw;
}

.flash-results {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
