@font-face {
  font-family: 'Kairos Sans';
  src: url('./fonts/kairos-sans-variable.ttf');
}

:root {
  --base-size: 1;
  --palette-color-1: navy;
  --palette-color-2: blue;
  --palette-color-3: pink;
  --wght: 100;
  --wdth: 10;
  --ital: 0;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--palette-color-3);
  color: white;
  display: flex;
  margin: 0;
  font-family: 'Kairos Sans';
  text-transform: uppercase;
}

ul {
  background: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh repeat(2, 50vh);
  grid-auto-flow: dense;
  grid-template-areas:
    '⚗️ ⚗️ ⚗️ ⚗️ ⚗️ 🐋 🐋 🐋 👼 👼 🐻 🐻'
    '🌌 🌌 🐉 🐉 🐉 🐉 🐉 🎩 🎩 🎩 🐻 🐻'
    '🌌 🌌 🐉 🐉 🐉 🐉 🐉 👩 👩 👩 👩 👩';
  margin: 0;
  grid-gap: 1vw;
  padding: 0;
  list-style: none;
}

li {
  height: 100%;
  overflow: hidden;
  word-break: break-all;
}

strong {
  font-size: calc(5vw + 5vh + var(--base-size) * 1rem);
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  will-change: font-variation-settings;
}

li:nth-of-type(odd) strong {
  --base-size: 2;
  animation: stretch 1s linear infinite alternate;
  font-variation-settings: 'wght' var(--wght);
}

li:nth-of-type(even) strong {
  --base-size: 0.25;
  animation: italic 0.5s ease-in-out infinite alternate;
  font-variation-settings: 'ital' var(--ital);
}

li:nth-child(odd) {
  background-color: var(--palette-color-2);
}

li:nth-child(even) {
  background-color: var(--palette-color-3);
}

li:nth-child(1) {
  grid-area: ⚗️;
}

li:nth-child(2) {
  grid-area: 🐋;
}

li:nth-child(3) {
  grid-area: 👼;
}

li:nth-child(4) {
  grid-area: 🐻;
}

li:nth-child(5) {
  grid-area: 🌌;
}

li:nth-child(6) {
  grid-area: 🐉;
}

li:nth-child(7) {
  grid-area: 🎩;
}

li:nth-child(8) {
  grid-area: 👩;
}

@keyframes stretch {
  from {
    font-variation-settings: 'wght' 0;
  }
  to {
    font-variation-settings: 'wght' 600;
  }
}

@keyframes italic {
  from {
    font-variation-settings: 'ital' 0;
  }
  to {
    font-variation-settings: 'ital' 1;
  }
}
