.card {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  height: 200px;
  background-color: #FFFFFF;
  border-left-color: #B0BEC5;
  border-right-color: #B0BEC5;
  border-bottom-color: #B0BEC5;
  color: #B0BEC5;
  font-family: Arial;
  font-size: 40px;
  width:100%;
}

#card-list {
  margin: 0;
  padding: 0;
}