@font-face {
  font-family: 'Mutator Sans';
  src: url('./fonts/mutator-sans.ttf');
}

:root {
  --base-size: 1;
  --palette-color-1: #ffdb00;
  --palette-color-2: #2d50df;
  --palette-color-3: gainsboro;
  --palette-color-4: black;
  --wght: 100;
  --font-family-1: 'Mutator Sans';
  --artist-height: 10;
  --radius: 20;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--palette-color-1);
  color: var(--palette-color-2);
  counter-reset: artists;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

header {
  background-color: var(--palette-color-3);
  height: 75vh;
  text-align: center;
}

h1 {
  color: var(--palette-color-1);
  font-size: 30vw;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.circle {
  background: red;
  clip-path: circle(calc(var(--radius) * 1%) at 50% 50%);
  height: 100%;
  width: 100%;
}

main {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: var(--palette-color-1);
  color: var(--palette-color-3);
  display: block;
  font-size: 8vw;
  font-variation-settings: 'wght' 999;
  height: calc(var(--artist-height) * 1%);
  margin: 1%;
  text-align: center;
  transition: color 0.5s ease;
}

li.viewport {
  color: var(--palette-color-4);
}